
    body{
    background-color: rgb(92, 85, 85);
    }
        /* label focus color */
    .input-field input:focus, label {
        color: rgb(255, 255, 255) !important;
    }
        /* label underline focus color */
    .input-field input:focus {
        border-bottom: 1px solid white !important;
        box-shadow: 0 1px 0 0 white !important
    }

#dynamic{
    width: 500px;
    height: 500px;
}
#imagebutton{
    position:relative;
    left: -10px;
    top:-8px;
    margin-bottom: 15px;
}
